body {
  margin: 0;
}

body, button{
  font-size: 1em;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}


.mainContent{
  display: flex;
  margin-top: 70px;
}


/* Global rules */
.flex{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.no-prop-button{
  background-color: unset;
  border: none;
  padding: 0px;
}