.msgFormBlock{
    margin-top: 30px;
    width: 100%;
    padding-top: 10px;
    border-radius: 15px;
    background-color: rgb(255, 237, 213);
    align-items: center;
}

.msgForm__body{
    width: 95%;
}

.msgForm__header{
    position: relative;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;

}

.msgForm__header-avatar{
    margin: auto;
    width: 48px;
    height: 48px;
    align-items: center;
}


.msgForm__header-suscribeInfo{
    position: absolute;
    right: 5%;
    top: 0px;
    bottom: 0px;
}


.msgForm__body-textarea{
    font-family: inherit;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    resize: none;
    overflow: hidden;
    white-space: pre-wrap;
}


.msgForm__preview{
    margin-top: 10px;
    margin-bottom: 10px;
}

.msgForm__body-foot{
    margin-top: 1%;
    width: 97%;
}

.msgForm__body-foot-buttons{
    
    margin-left: auto;
}


.msgForm__body-foot-buttons > button{
    margin-right: 10px;
}


#insertImg{
    display: none;
}