header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    z-index: 10;
    border-bottom: 1px solid rgb(182, 182, 182);
    box-shadow: 0px 2px 3px 2px rgb(182, 182, 182);
  }
  
h1{
    margin: 0px;
    margin-left: 20%;
}

#header_img{
    min-width: 35px;
    min-height: 35px;
    width: 4vw;
    height: fit-content;
    max-width: 50px;
    max-height: 50px;
    padding: 6px;
}

.header__homeLink{
    width: 30%;
    display: inherit;
    align-items: center;
    margin-left: 3%;
    color: unset;
    text-decoration: none;
}

.header_right{
    width: 100%;
    align-items: center;
    margin-right: 5%;
    margin-left: 20%;
}


.header_right > div{
    margin-left: auto;
}


ul.MuiList-root{
    padding: 0px;
}