header{
    background-color: rgb(241, 218, 141);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    z-index: 10;
  }
  
h1{
    margin: 0px;
    margin-left: 20%;
}

#header_img{
    min-width: 35px;
    min-height: 35px;
    width: 4vw;
    height: fit-content;
    max-width: 64px;
    max-height: 64px;
}

.header__homeLink{
    width: 30%;
    display: inherit;
    align-items: center;
    margin-left: 3%;
    color: unset;
    text-decoration: none;
}

.header_right{
    width: 100%;
    align-items: center;
    margin-right: 5%;
}

.header_right > div{
    float: right;
}

.header_right > div{
    margin-left: auto;
    margin-right: 15%;
}


ul.MuiList-root{
    padding: 0px;
}